.MainText {
    padding-top: 7%;
    margin: auto;
    align-self: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 65%;
}

.Questions {
    position: absolute;
    bottom: 10%;
    left:23%;
    font-size: 8px;
}

.first {
    position: absolute;
    top: 10%;
    left:10%;
    width: 3%;
    height: 3%;
    cursor: pointer;
}

.second {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 3%;
    height: 3%;
    cursor: pointer;
}

.third {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 3%;
    height: 3%;
    cursor: pointer;
}

.Name {
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: white;
    font-size: 20px;
}